#root{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header, footer, section, nav{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

section{
  min-height: 18rem;

}

nav ul{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
}



