body {
    
    background-color: #e5edf6 !important; /* changed from her color */
    display: grid;
    gap: 1rem;
    font-family: 'Times New Roman', Times, serif !important;
    grid-template-areas:
        "header header"
        "section aside"
        "projects projects"
        "contact contact"
        "footer footer";
}

header,
section,
aside,
.projects,
.contact,
footer {
    background-color:  #f1f5f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    grid-area: header;
    height: 4rem;
    justify-content: space-between;
    padding: 0.75rem 5rem;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-top: 1rem;
}

section {
    grid-area: section;
}

aside {
    grid-area: aside;
    height: 30rem;
}

.contact {
    grid-area: contact;
    height: 25rem;
}

footer {
    grid-area: footer;
    height: 3rem;
    font-size: small;
}

.projects {
    grid-area: projects;
    padding: 2rem;
}

main {
    display: contents;
}

ul {
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    align-items: center;
    transition: color 0.3s ease;
}

ul li {
    font-weight: 500;
    color: #333;
    padding: 0.5rem 0.25rem;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
}

ul li:hover {
    color: #8A2BE2;
}

nav ul li button {
    background-color: #8A2BE2;
    color: white;
    border: none;
    border-radius: 9999px;
    padding: 0.5rem 1.5rem;
    height: auto;
    width: auto;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

nav ul li button:hover {
    background-color: #6a1aae;
    transform: translateY(-2px);
}

.logo {
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    background-color: #8A2BE2;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsive */
@media (max-width: 700px) {
    body {
        grid-template-areas:
            "header"
            "section"
            "aside"
            "projects"
            "footer";
    }

    header {
        padding: 0.5rem 1rem;
    }

    nav ul,
    h1 {
        font-size: 0.8rem;
    }

    nav ul li button {
        padding: 0.4rem 1rem;
        font-size: 0.75rem;
    }

    .logo {
        font-size: 1.5rem;
        width: 2rem;
        height: 2rem;
    }
}
