 body{ 
    background-color: rgb(54, 41, 232);
   
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


header{ 
    display: flex;
    align-items: center;
    width: 100%;    
    height: 4.5rem; 
    
    background-color: white;
    justify-content: space-around;

   
    
}
nav{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    align-items: center;
    justify-content: space-around;
}

main{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

section{
    display: flex;
    
    height: 3rem;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-weight: bold;
    
}

aside{
    display: flex;
    width: 100%;
    height: 12rem;
    background-color: white;
    align-items: center;
    justify-content: center;
   
    flex-direction: row;
    padding-right: 1rem;
}
footer{
    display: flex;
    width: 100%;
    height: 4.5rem;
    background-color: white;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}